repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-unused-variables
          - --remove-all-unused-imports

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--max-line-length=200", "--extend-ignore=E203,W503"]

  - repo: local
    hooks:
      - id: pytest
        name: pytest (fast unit tests only)
        entry: poetry run pytest --ignore=tests/test_integration.py -m "not integration" -v
        language: system
        pass_filenames: false
        files: '\.py$'
        stages: [pre-push]
